# ================================================
# 공통 (OS/IDE 관련 무시 파일)
# ================================================
.vscode/
.idea/
.DS_Store
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk

# ================================================
# Eclipse & STS 관련
# ================================================
.metadata
.settings/
.loadpath
.recommenders/
.externalToolBuilders/
*.launch
*.pydevproject
.cproject
.autotools
.factorypath
.buildpath
.target
.tern-project
.texlipse
.apt_generated
.apt_generated_test/
.classpath
.project
.springBeans
.sts4-cache
.cache-main
.scala_dependencies
.worksheet

# ================================================
# Java / Spring Boot 관련
# ================================================
*.class
*.jar
*.war
*.nar
*.ear
*.zip
*.gz
*.rar
hs_err_pid*
replay_pid*
*.log
*.tmp
*.bak
*.swp
*~.nib

# 빌드 아티팩트
/backend/**/bin/
/backend/**/build/
/backend/**/.gradle/
/backend/**/.env.prod
/backend/**/.env.dev
/backend/**/.env.staging

# 예외 설정: gradlew Wrapper jar 파일은 포함
!/backend/**/gradle/wrapper/gradle-wrapper.jar 

# ================================================
# Node.js / React 관련
# ================================================
/frontend/**/node_modules/
/frontend/**/build/
/frontend/**/dist/
/frontend/**/coverage
/frontend/**/stats.html
/frontend/**/.env
/frontend/**/.env.development
/frontend/**/.env.production
/frontend/**/.env.staging
/frontend/**/*.log

# ================================================
# 기타 폴더
# ================================================
/bk/
/backend/bk/
/frontend/bk/
/frontend/front_01/
/data/

# ================================================
# SonarLint 관련
# ================================================
# SonarLint
.sonarlint/
.idea/sonarlint/
.vscode/sonarlint/
