########## 환경변수정보는 깃허브에 커밋하지 말 것! ##########
## 환경 변수 설정 파일 예시(PLACEHOLDER 값들을 실제 값으로 변경하여 사용)
# 백엔드 서버 URL 설정
VITE_APP_BACKEND_URL="http://localhost:8080"
# 성인 콘텐츠 차단 설정
VITE_BLOCKING_ADULT_CONTENT=false
# 유지보수 모드 설정
VITE_MAINTENANCE_MODE=false
# 유지보수 시작 및 종료 시간 설정 (YYYY-MM-DD HH:MM 형식)
VITE_MAINTENANCE_START="MAINTENANCE_START_PLACEHOLDER"
VITE_MAINTENANCE_END="MAINTENANCE_END_PLACEHOLDER"
# OAuth 리디렉션 URI 및 클라이언트 ID 설정
VITE_NAVER_REDIRECT_URI="http://localhost:3000/login/naver"
VITE_NAVER_CLIENT_ID="NAVER_CLIENT_ID_PLACEHOLDER"
VITE_KAKAO_REDIRECT_URI="http://localhost:3000/login/kakao"
VITE_KAKAO_CLIENT_ID="KAKAO_CLIENT_ID_PLACEHOLDER"
# Sentry 설정
VITE_SENTRY_DSN="SENTRY_DSN_URL_PLACEHOLDER"
VITE_SENTRY_ENABLE=false
# 기타 설정
VITE_VIDEO_CREDITS_COUNT=8
VITE_COMICS_CREDITS_COUNT=10
VITE_CREDITS_PER_PAGE=9
VITE_COMMENT_MAX_LENGTH=500
VITE_TMDB_SEARCH_KEYWORD_MAX_LENGTH=500
VITE_SAVE_KEYWORD_HISTORY_COUNT=10
VITE_PAGE_RANGE_DISPLAYED=10
VITE_MARGIN_PAGES_DISPLAYED=4
VITE_COMMENT_LF_OMISSION_LENGTH=4
VITE_COMMENT_LENGTH_OMISSION_LENGTH=200
VITE_WISHLIST_VIDEO_OMISSION_PC_LENGTH=10
VITE_WISHLIST_COMICS_OMISSION_PC_LENGTH=14
VITE_WISHLIST_VIDEO_OMISSION_TABLET_LENGTH=8
VITE_WISHLIST_COMICS_OMISSION_TABLET_LENGTH=10
VITE_WISHLIST_VIDEO_OMISSION_MOBILE_LENGTH=6
VITE_WISHLIST_COMICS_OMISSION_MOBILE_LENGTH=6
